.shadetabs{
padding: 0.2em 0;
margin-left: 0;
margin-top: 0.2em;
margin-bottom: 0;
font-weight:bold;
font-size:0.7em;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 0.3em 0.6em;
margin-right: 0.3em;
border: 1px solid #778;
color: #2d2b2b;
background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited {
color: #2d2b2b;
}

.shadetabs li a:link {
color: #2d2b2b;
}

.shadetabs li a:hover {
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a:active {
color: #2d2b2b;
}

.shadetabs li.selected {
position: relative;
top: -2px;
}

.shadetabs li.selected a { /*selected main tab style */
background-image: url(shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li.selected a:hover { /*selected main tab style */
text-decoration: none;
}

.subshadetabs{
padding:0.2em 0;
margin-left: 0;
margin-top: 0.1em;
margin-bottom: 0;
font-size:0.6em;
font-weight:500;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.subshadetabs li{
display: inline;
margin: 0;
}

.subshadetabs li a{
text-decoration: none;
padding: 0.1em 0.3em;
margin-right: 0.3em;
border: 1px solid #778;
color: #2d2b2b;
background: white url(shadeactive.gif) top left repeat-x;
}

.subshadetabs li a:link {
color: #2d2b2b;
}

.subshadetabs li a:visited {
color: #2d2b2b;
}

.subshadetabs li a:hover {
text-decoration: underline;
}

.subshadetabs li a:active {
color: #2d2b2b;
}

.subshadetabs li.selected {
position: relative;
background: white url(shade.gif);
top: 0.3em;
}

.supshadetabs li.selected a { /*selected main tab style */
background-color: white;
border-top-color: white;
}

.subshadetabs li.selected a:hover { /*selected main tab style */
text-decoration: none;
}

.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 90%;
margin-bottom: 1em;
padding: 0.9em;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent { display:block!important; }
}
