.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 2px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited {
color: #2d2b2b;
}

.shadetabs li a:link {
color: #2d2b2b;
}

.shadetabs li a:hover {
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a:active {
color: #2d2b2b;
}

.shadetabs li.selected {
position: relative;
top: -2px;
}

.shadetabs li.selected a { /*selected main tab style */
background-image: url(shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li.selected a:hover { /*selected main tab style */
text-decoration: none;
}

.subshadetabs{
padding: 2px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 10px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.subshadetabs li{
display: inline;
margin: 0;
}

.subshadetabs li a{
text-decoration: none;
padding: 1px 3px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(shade.gif) top left repeat-x;
}

.subshadetabs li a:link {
color: #2d2b2b;
}

.subshadetabs li a:visited {
color: #2d2b2b;
}

.subshadetabs li a:hover {
text-decoration: underline;
}

.subshadetabs li a:active {
color: #2d2b2b;
}

.subshadetabs li.selected {
position: relative;
top: -2px;
}

.supshadetabs li.selected a { /*selected main tab style */
background-color: white;
background: white url(shadeactive.gif);
border-top-color: white;
}

.subshadetabs li.selected a:hover { /*selected main tab style */
text-decoration: none;
}

.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 90%;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent { display:block!important; }
}
