php_value include_path ".:/usr/share/php:/usr/share/php/fpdf:/usr/share/php/fpdi:/usr/share/jpgraph:/usr/share/jpgraph/src"
## Error-Reporting: http://php.net/manual/en/errorfunc.constants.php
##php_value error_reporting 1
