Package: lx-office-crm
Version: 0
Architecture: all
Section: univers/web
Priority: optional
Installed-Size: 0
Maintainer: Holger Lindemann <hli@lx-system.de>
Depends: lx-office-erp (>=2.6.1), libapache2-mod-php5 | libapache2-mod-php4 | libapache-mod-php4, libgd2-xpm (>=2.0), php4-gd | php5-gd, php4-imap | php5-imap, php-fpdf, php-pear | php4-pear | php5-pear, php4-pgsql | php5-pgsql, php-db, php-mail, php-mail-mime, php-xajax, ttf-freefont
Recommends: fpdi, libphp-jpgraph | pear_Image_Graph, pear_Contact_Vcard_Build, pear_Contact_Vcard_Parse, pear_Mail_Mime  
Suggests: evince 
Description: lx-office-crm ist eine Erweiterung zum Paket lx-office-erp.
 Lx-Office CRM ist ein  Kundenmanagement-Tool. Es greift auf die bestehenden 
 Daten von Lx-Office ERP zu.
 Die CRM speichert Kontaktverlaeufe und beliebig viele Kontakte.
 Dokumenten, Briefvorlagen, Wartungsvertage, Wiedervorlage, 
 Termine, Etikettendruck.
 Die Anwendung ist in PHP geschrieben und ist in ständiger Weiterentwicklung.
 .
 URL: http://lx-office.org
 Basierend auf Git-Rev 
